<h1><span data-i18n="skills.my_skills">About me</span></h1>

<div>
    <img src='../img/toby.png' class="about-img"></img>
    <br>
    I'm a Sir Henry Wellcome fellow based at the UCL Max Planck Centre for Computational Psychiatry and Ageing Research at UCL.
    I use computational modelling and neuroimaging to understand the mechanisms underlying symptoms of anxiety and depression.
    <br><br>
    I started my academic career with a BSc in Psychology and MSc in Cognitive Neuroscience at the University of Sussex, before completing a PhD at 
    the Institute of Psychiatry, Psychology and Neuroscience at King's College London, where I focused on neuroimaging markers of depression and bipolar disorder.
    <br><br>
    <h2>Research</h2>
    <h3>Aversive learning processes</h3>
    A growing literature suggests that anxiety and depression may be associated with alterations in processes governing learning about reward and punishment. I use 
    behavioural tasks tapping into appetitive and aversive learning to understand how individual differences in specific aspects of the learning processes may 
    underlie symptoms of these disorders.

    <h3>Offline replay in learning and planning</h3>
    Many of the symptoms of anxiety and depression, such as rumination and worry, occur "offline" - i.e. when we are not actively encountering any positive or negative 
    feedback. I investigate how offline processes, such as sequential replay and reactivation, function in motivationally salient environments using MEG and EEG. This 
    work aims to provide a foundation for future investigations into the role played by these processes in symptoms such as worry.

    <h3>Brain networks in anxiety and depression</h3>
    Key brain networks are thought to be structurally and functionally affected in affective and anxiety disorders. I use MRI to answer questions about how these networks 
    are affected in these disorders, and how their dysfunction may relate to specific symptom profiles.
    
</div>